<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Haven's Pizza</title>

    <!-- bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- my sheets and scripts -->
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/formvalidator.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/cart.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/map.js') }}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfqY68UZ9AaRqx5z8MdiYfqnAmqmjaKJs&callback=initMap">
    </script>


  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Haven's Pizza</a>

      <span class="navbar-text">
        <a href="/dashboard">Home</a> |
        <a id="cart_display" href="/checkout/{{session['currOrder_id']}}">Order(0)</a> |
        <a href="/user/{{session['user_id']}}/account">Account</a> |
        <a href="/logout">Logout</a>
      </span>
    </nav>

    <!-- display current cart -->
    <div class="container-fluid text-white">
      <div class="row">
        <div class="col-md-6">
          <fieldset id="cart" data-id='{{order_id}}' class="row">
            <legend>Items in your cart</legend>
            <!-- filled in by ajax -->
          </fieldset>
        </div>
        <div class="col-md-6">
          <div id=map></div>
        </div>
      </div>
      <div class="row mt-3">
        <button type="button" class="btn btn-primary" id="checkoutButton" name="button">Pay</button>
      </div>
    </div>
  </body>
</html>
