<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Haven's Pizza</title>

    <!-- bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- my sheets and scripts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/formvalidator.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/functions.js') }}"></script>

  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Haven's Pizza</a>

      <span class="navbar-text">
        <a href="/">Don't have an account? Register</a>
      </span>
    </nav>


    <!-- body -->
    <div class="container text-white">
      <div class="row">
        <h2 class='col text-center mt-5'>Login</h2>
      </div>

      <!-- login form -->
    <form class="needs-validation mt-5" action="/login/process" method="post" novalidate>
      <div class="form-group row justify-content-center">
        <label for="login_email" class="col-md-2 col-form-label">Email</label>
        <input type="email" name="login_email" class="col-md-5 form-control" required>
      </div>
      <div class="form-group row justify-content-center">
        <label for="login_password" class="col-md-2 col-form-label">Password</label>
        <input type="password" name="login_password" class="col-md-5 form-control" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary col-md-6 offset-md-3" name="button">Login</button>
      </div>
    </form>


    </div>
  </body>
</html>
